.Todo h1
{
    margin-bottom: 15px;
}
.inputclass
{
    width: 200px;
    height: 25px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(22,24,38);
    color: honeydew;
    padding: 4px;
    border-radius: 5px 0 0 5px;
}
.inputclass input[type=text]:focus
{
    border: 1px solid rgb(255, 11, 11);
    color: lawngreen;
}
.inputclassbutton
{
    border: none;
    background-color:  rgb(89,11,255);
    color: honeydew;
    padding: 9px;
    border-radius: 0 5px 5px 0;
    text-align: center;
    cursor: pointer;
}
.formclass
{
    border: 1px solid rgb(89,11,255);
    background-color:  rgb(89,11,255);
    border-radius: 5px;
}
.todomap
{
    background-color: rgb(12, 27, 110);
    color: white;
    width: 500px;
    margin-top: 5px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    font-family: cursive;
    cursor: pointer;
}
.todomapInside 
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.okey
{
    background-color: rgba(0, 0, 0, 0.6) !important;
    text-decoration: line-through;
}
.title,.delete,.change{
    position: relative;
}
.delete{
    z-index: 9;
    position: absolute;
    right: 0;
}
.title
{
    width: 95%;
    align-items: center;
    height: 25px;
    display: flex;
    text-transform: capitalize;
}
#todotitle
{
    width: 100%;
    padding: 10px;
    min-height: 20px;
}
#todotitle::first-letter
{
    text-transform: uppercase;
}
.txDekore
{
    text-decoration: line-through;
}